
.App {
  justify-content: center;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,.15) !important;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.App h3 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.App div{
  display: flex;
  flex-direction: column;
}

.App div label {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}


.App div input {
  font-size: 16px;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid;
  border-color: #495057;
}

.App div .submit {
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: 1px solid;
  border-color: #007bff;
  padding: 6px 12px;
  text-align: center;
  border-radius: 6px;
}

.App div .reload {
  cursor: pointer;
  color: #fff;
  background-color: #5a6268;
  border: 1px solid;
  border-color: #545b62;
  padding: 6px 12px;
  text-align: center;
  border-radius: 6px;
}

.App div h5 {
  text-align: center;
  margin: 20px auto;
}

.App div p {
  text-align: center;
  color: #5a6268;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}